In [130]:
# importing all the necessary libraries
import numpy as np 
import pandas as pd 
import json 
import requests 
from pandas.io.json import json_normalize 
import matplotlib.cm as cm
import matplotlib.colors as colors 
from sklearn.cluster import KMeans 
from bs4 import BeautifulSoup 
from geopy.geocoders import Nominatim  
import folium 
from pandas.io.json import json_normalize 
print("Libraries imported.")

Libraries imported.

In [147]:
# fetching Wikipedia page data using requests
data = requests.get('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M').text

# parsing data using BeautifulSoup
soup = BeautifulSoup(data, 'html.parser')

In [148]:

# initiating lists that will be used to create dataframe
postalCodeList = []
boroughList = []
neighborhoodList = []

# looking for any tables on the Wikipedia page
soup.find('table').find_all('tr')

soup.find('table').find_all('tr')

for row in soup.find('table').find_all('tr'):
    cells = row.find_all('td')

In [149]:
# looking for the necessary information we need to create our dataframe
for row in soup.find('table').find_all('tr'):
    cells = row.find_all('td')
    if(len(cells) > 0):
        postalCodeList.append(cells[0].text)
        boroughList.append(cells[1].text)
        neighborhoodList.append(cells[2].text.rstrip('\n'))

In [150]:
# creating the dataframe with the columns we want using pandas
toronto_df = pd.DataFrame({"PostalCode": postalCodeList,
                           "Borough": boroughList,
                           "Neighborhood": neighborhoodList})

toronto_df.head()

,PostalCode,Borough,Neighborhood
0,\nM1ANot assigned\n\n,\nM2ANot assigned\n\n,\nM3ANorth York(Parkwoods)
1,\nM1BScarborough(Malvern / Rouge)\n\n,\nM2BNot assigned\n\n,\nM3BNorth York(Don Mills)North
2,\nM1CScarborough(Rouge Hill / Port Union / Hig...,\nM2CNot assigned\n\n,\nM3CNorth York(Don Mills)South(Flemingdon Park)
3,\nM1EScarborough(Guildwood / Morningside / Wes...,\nM2ENot assigned\n\n,\nM3ENot assigned
4,\nM1GScarborough(Woburn)\n\n,\nM2GNot assigned\n\n,\nM3GNot assigned

In [151]:
toronto_df.shape

(20, 3)

In [136]:
# cleaning up the column values and taking off the unnessary "\n"
toronto_df['Neighborhood'] = toronto_df['Neighborhood'].str.replace("\n","")
toronto_df['Borough'] = toronto_df['Borough'].str.replace("\n","")
toronto_df['PostalCode'] = toronto_df['PostalCode'].str.replace("\n","")
toronto_df.head()

,PostalCode,Borough,Neighborhood
0,M1ANot assigned,M2ANot assigned,M3ANorth York(Parkwoods)
1,M1BScarborough(Malvern / Rouge),M2BNot assigned,M3BNorth York(Don Mills)North
2,M1CScarborough(Rouge Hill / Port Union / Highl...,M2CNot assigned,M3CNorth York(Don Mills)South(Flemingdon Park)
3,M1EScarborough(Guildwood / Morningside / West ...,M2ENot assigned,M3ENot assigned
4,M1GScarborough(Woburn),M2GNot assigned,M3GNot assigned

In [137]:
k =toronto_df.copy()

In [138]:
k['PostalCode'] = [i[:3] for i in k['PostalCode']]
k['Borough'] = [i[3:] for i in k['Borough']]
k

,PostalCode,Borough,Neighborhood
0,M1A,Not assigned,M3ANorth York(Parkwoods)
1,M1B,Not assigned,M3BNorth York(Don Mills)North
2,M1C,Not assigned,M3CNorth York(Don Mills)South(Flemingdon Park)
3,M1E,Not assigned,M3ENot assigned
4,M1G,Not assigned,M3GNot assigned
5,M1H,North York(Hillcrest Village),M3HNorth York(Bathurst Manor / Wilson Heights ...
6,M1J,North York(Fairview / Henry Farm / Oriole),M3JNorth York(Northwood Park / York University)
7,M1K,North York(Bayview Village),M3KNorth York(Downsview)East (CFB Toronto)
8,M1L,North York(York Mills / Silver Hills),M3LNorth York(Downsview)West
9,M1M,North York(Willowdale / Newtonbrook),M3MNorth York(Downsview)Central
10,M1N,North York(Willowdale)South,M3NNorth York(Downsview)Northwest
11,M1P,North York(York Mills West),M3PNot assigned
12,M1R,North York(Willowdale)West,M3RNot assigned
13,M1S,Not assigned,M3SNot assigned
14,M1T,Not assigned,M3TNot assigned
15,M1V,Not assigned,M3VNot assigned
16,M1W,Not assigned,M3WNot assigned
17,M1X,Not assigned,M3XNot assigned
18,M1Y,Not assigned,M3YNot assigned
19,M1Z,Not assigned,M3ZNot assigned

p ='popo (poppl) popp(dwwdw)'
l =[]
k = p.split('(')
for i in k:
    if ')' in i:
        last = i.index(')')
        l.append(str(i[:last]))
print(','.join(l))
print(k)

In [139]:
len(toronto_df)

20

j =0
for i in k['Neighborhood']:
    if '(' in i:
        l =[]
        k = i.split('(')
        for i in k:
            if ')' in i:    
            last = i.index(')')
            l.append(str(i[:last]))
        
    k['Neighborhood'][j] =','.join(l)
    j+=1
    if j =len()

In [140]:
toronto_df =k

In [141]:
toronto_df

,PostalCode,Borough,Neighborhood
0,M1A,Not assigned,M3ANorth York(Parkwoods)
1,M1B,Not assigned,M3BNorth York(Don Mills)North
2,M1C,Not assigned,M3CNorth York(Don Mills)South(Flemingdon Park)
3,M1E,Not assigned,M3ENot assigned
4,M1G,Not assigned,M3GNot assigned
5,M1H,North York(Hillcrest Village),M3HNorth York(Bathurst Manor / Wilson Heights ...
6,M1J,North York(Fairview / Henry Farm / Oriole),M3JNorth York(Northwood Park / York University)
7,M1K,North York(Bayview Village),M3KNorth York(Downsview)East (CFB Toronto)
8,M1L,North York(York Mills / Silver Hills),M3LNorth York(Downsview)West
9,M1M,North York(Willowdale / Newtonbrook),M3MNorth York(Downsview)Central
10,M1N,North York(Willowdale)South,M3NNorth York(Downsview)Northwest
11,M1P,North York(York Mills West),M3PNot assigned
12,M1R,North York(Willowdale)West,M3RNot assigned
13,M1S,Not assigned,M3SNot assigned
14,M1T,Not assigned,M3TNot assigned
15,M1V,Not assigned,M3VNot assigned
16,M1W,Not assigned,M3WNot assigned
17,M1X,Not assigned,M3XNot assigned
18,M1Y,Not assigned,M3YNot assigned
19,M1Z,Not assigned,M3ZNot assigned

In [142]:
# ignoring the cells that have Borough =! 'Not Assigned'
toronto_df_drop = toronto_df[toronto_df.Borough != "Not assigned"].reset_index(drop=True)
toronto_df_drop

,PostalCode,Borough,Neighborhood
0,M1H,North York(Hillcrest Village),M3HNorth York(Bathurst Manor / Wilson Heights ...
1,M1J,North York(Fairview / Henry Farm / Oriole),M3JNorth York(Northwood Park / York University)
2,M1K,North York(Bayview Village),M3KNorth York(Downsview)East (CFB Toronto)
3,M1L,North York(York Mills / Silver Hills),M3LNorth York(Downsview)West
4,M1M,North York(Willowdale / Newtonbrook),M3MNorth York(Downsview)Central
5,M1N,North York(Willowdale)South,M3NNorth York(Downsview)Northwest
6,M1P,North York(York Mills West),M3PNot assigned
7,M1R,North York(Willowdale)West,M3RNot assigned

In [143]:
# grouping the neighborhoods with the same Borough on the same row
toronto_df_grouped = toronto_df_drop.groupby(["PostalCode", "Borough"], as_index=False).agg(lambda x: ", ".join(x))
toronto_df_grouped

,PostalCode,Borough,Neighborhood
0,M1H,North York(Hillcrest Village),M3HNorth York(Bathurst Manor / Wilson Heights ...
1,M1J,North York(Fairview / Henry Farm / Oriole),M3JNorth York(Northwood Park / York University)
2,M1K,North York(Bayview Village),M3KNorth York(Downsview)East (CFB Toronto)
3,M1L,North York(York Mills / Silver Hills),M3LNorth York(Downsview)West
4,M1M,North York(Willowdale / Newtonbrook),M3MNorth York(Downsview)Central
5,M1N,North York(Willowdale)South,M3NNorth York(Downsview)Northwest
6,M1P,North York(York Mills West),M3PNot assigned
7,M1R,North York(Willowdale)West,M3RNot assigned

In [144]:

# making Neighborhood == 'Not Assigned' to same Borough name
for index, row in toronto_df_grouped.iterrows():
    if row["Neighborhood"] == "Not assigned":
        row["Neighborhood"] = row["Borough"]
        
toronto_df_grouped

,PostalCode,Borough,Neighborhood
0,M1H,North York(Hillcrest Village),M3HNorth York(Bathurst Manor / Wilson Heights ...
1,M1J,North York(Fairview / Henry Farm / Oriole),M3JNorth York(Northwood Park / York University)
2,M1K,North York(Bayview Village),M3KNorth York(Downsview)East (CFB Toronto)
3,M1L,North York(York Mills / Silver Hills),M3LNorth York(Downsview)West
4,M1M,North York(Willowdale / Newtonbrook),M3MNorth York(Downsview)Central
5,M1N,North York(Willowdale)South,M3NNorth York(Downsview)Northwest
6,M1P,North York(York Mills West),M3PNot assigned
7,M1R,North York(Willowdale)West,M3RNot assigned

In [145]:

# taking a look the the unique values for PostalCode in the dataset
toronto_df_grouped['PostalCode'].unique()

array(['M1H', 'M1J', 'M1K', 'M1L', 'M1M', 'M1N', 'M1P', 'M1R'],
      dtype=object)

In [146]:
# creating the dataset we need with the given conditions for the assignment
column_names = ["PostalCode", "Borough", "Neighborhood"]
test_df = pd.DataFrame(columns=column_names)

test_list = ["M5G", "M2H", "M4B", "M1J", "M4G", "M4M", "M1R", "M9V", "M9L", "M5V", "M1B", "M5A"]

for postcode in test_list:
    test_df = test_df.append(toronto_df_grouped[toronto_df_grouped["PostalCode"]==postcode], ignore_index=True)
    
test_df

,PostalCode,Borough,Neighborhood
0,M1J,North York(Fairview / Henry Farm / Oriole),M3JNorth York(Northwood Park / York University)
1,M1R,North York(Willowdale)West,M3RNot assigned